#body {
  transition: all;
  transition: all 0.45s;
}
.bodyeffect {
  background-color: rgb(36, 36, 36);
  color: whitesmoke;
}

.header {
  display: grid;
  grid-template-columns: 1fr auto;
  padding: 1rem;
}

.buttonbody {
  width: 6rem;
  height: 3rem;
  border: 2px solid black;
  padding: 5px;
  border-radius: 30%;
  transition: all 0.45s;
}

.button {
  border: 1px solid black;
  height: 100%;
  width: 40%;
  border-radius: 50%;
  transition: all 0.85s;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.borderElement1 {
  border: 2px solid whitesmoke;
}
.borderElement2 {
  border: 2px solid whitesmoke;
}

.neweffect {
  transition: all 0.85s;
  transform: translateX(3rem);
}
