*{
    padding: 0;
    margin: 0;
    
}
.todos{
    padding: 1rem;
    width: auto;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    
}
@media(max-width: 400px){
    .todos{
        width: 100%;
    }
}